<!DOCTYPE html>
<html>
{% extends 'base.html' %} {% include 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
	<h1>Find your host!</h1>
	<br/>
</div>
<div style="background-color: #fbfbfc">
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                {% if location_visits %}
                    {% for profile in profiles %}
                        <a href="{% url 'userpage' profile.username %}">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="results-item">
                                        <img src="{{ profile.image }}" style="height: 80px; width: 80px;"></img>

                                        <h4>{{ profile.username}}</h4>
                                        <p>
                                        </p>
                                            {{ profile.city}}
                                            <br/>
                                            {{ profile.interests}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="no-search-results">
                        <h3 class="text-result">
                           Sorry, there is no match for the given dates and location
                            {{ request.POST.location }}
                        </h3>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
</html>
