{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if not username %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">
                Please, specify username or login.
            </p>
        </div>
    </div>
</div>
{% else %}
{% if user.is_authenticated %}
<div class="container">
    <h1>Update Profile</h1>
    <br/>
</div>
<div style="background-color: #fbfbfc">
    <div class="container">
        <form class="form-update" id="profile_form" method="post" action="/edit_userpage/"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% load bootstrap %}
            <div class="col-sm-3 col-md-3">
                {% if profile_form.instance.profile_image.url %}
                <img class="img-circle" src="{{ profile_form.instance.profile_image.url }}"
                     enctype="multipart/form-data" alt="profile image" height="90%" width="90%">
                {%else%}
                <img src="{{picture}}" alt="profile image" height="90%"
                     width="90%">
                {% endif %}
                <br/>
                <p>
                    <input id="id_image" type="file" class="" name="image">
                </p>
            </div>

            <div class="col-sm-9 col-md-9">
                Interests:
                <input type="text" name="interests" class="form-control" maxlength="500" value="{{interests}}"
                       placeholder="food, sightseeing...">
                </input>
                500 character limit
                <br>
                <br>
                Accomidation you are willing to provide:
                <input type="text" name="accomodation" class="form-control" maxlength="500" value="{{accomodation}}"
                       placeholder="bed, car..."/>
                500 character limit
                <br><br>
                <div class="form-horizontal" action="">
                    <strong>please provide social media username's</strong>
                    <div class="form-group">
                        <div class="col-sm-3">
                            twitter:
                            <input type="text" name="twitter" class="form-control col-sm-3 col-md-3"
                                   maxlength="255" value="{{twitter}}" placeholder="@username"/>
                        </div>
                        <div class="col-sm-3">
                            facebook:
                            <input type="text" name="facebook" class="form-control col-sm-3 col-md-3"
                                   maxlength="255" value="{{facebook}}" placeholder="username"/>

                        </div>
                        <div class="col-sm-3">
                            telegram:
                            <input type="text" name="telegram" class="form-control col-sm-3 col-md-3"
                                   placeholder="@username" maxlength="255" value="{{telegram}}"/>
                        </div>
                    </div>
                </div>

                <br><br>
                <textarea type="text" name="about" class="form-control" maxlength="5000" rows="5"
                          placeholder="about me">{{about}}</textarea>
                5000 character limit
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">update profile</button>
                <input type="hidden" name="submit" value="Update"/>
            </div>
        </form>
    </div>
    <br/><br/><br/>
</div>
{% endif %}

{% endif %}
{% endblock %}

