<html>
{% extends 'base.html' %}
{% include 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "../static/static_dev/css/form.css" %}">
    <h1 class="form-signin-heading text-center">Become a host</h1>
    <br>
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <p>you are now listed for your area. check out your listing here:</p>
        TODO: insert link to listing
    {% endif %}
    <div style="background-color: #fbfbfc">
    <div class="container text-center">
    <br>
        <form class="form-horizontal" id="guide_form" method="POST" action="/host/"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% load bootstrap %}
            <table>
                {% if user.is_authenticated %}
                    {% for guide in guide_form %}
                        {{ guide.errors }}
                        {% if forloop.counter > 3 %}
                            <tr>
                                <td class="container text-center">{{ guide | bootstrap_horizontal }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for guide in guide_form %}
                            {{ guide.errors }}
                            <tr>
                                <td class="container text-center">{{ guide | bootstrap_horizontal }}</td>
                            </tr>
                    {% endfor %}
                {% endif %}
            </table>
            <button class="btn btn-lg btn-primary" type="submit">Register</button>
            <input type="hidden" name="submit" value="Register"/>
        </form>
        <br/>
    </div>
    </div>
    <!--</body>-->
{% endblock %}
</html>
