<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
   <h1>Welcome to FurryStay</h1>
   <br/>
</div>
<div style="background-color: #fbfbfc">
    <div class="container text-center">
    <br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
<strong>ill get this later but till then have some bacon ipsum.</strong> <br><br>
Spicy jalapeno bacon ipsum dolor amet fatback qui prosciutto doner laboris. Cupim in veniam pig minim t-bone consectetur dolor exercitation pariatur anim short loin venison. Nisi esse tri-tip beef ribs, landjaeger jerky commodo tail fatback. Porchetta ad in tongue in duis voluptate pork magna pork loin proident. Nostrud doner ut in nisi, ipsum hamburger lorem culpa pork porchetta flank.			
                        </div>
			<div class="col-sm-6 col-md-6">
			Meatloaf sunt jerky leberkas flank picanha turkey non id deserunt beef ex tongue. Turducken burgdoggen tri-tip tail turkey dolore. Spare ribs frankfurter tri-tip, venison beef in minim do. Meatloaf eu corned beef enim aliqua velit. Ball tip in pig bresaola turkey dolore aute shank ut. Aliquip magna elit beef eu tail tenderloin culpa boudin esse quis. Jowl tempor ham hock, tri-tip in chuck culpa ut pork belly pork loin alcatra voluptate flank shank jerky.                </div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
Beef ribs kielbasa short ribs capicola boudin shankle hamburger brisket sirloin kevin t-bone porchetta landjaeger picanha pancetta. Meatloaf ground round andouille short loin ribeye beef ribs frankfurter turkey sirloin ham cupim meatball short ribs bacon tail. Venison tri-tip landjaeger ground round spare ribs beef hamburger pork. Turducken sirloin ham hock tri-tip pork jerky. Sausage filet mignon beef ribs ribeye short loin chuck doner meatloaf andouille shank salami bacon t-bone spare ribs pork loin. Boudin tongue frankfurter alcatra chuck, strip steak tail ribeye shankle ball tip cow pork chop ham flank.			
</div>
			<div class="col-sm-6 col-md-6">
Capicola pig tail, spare ribs pork belly chuck ham hock pork loin turkey salami kielbasa prosciutto. Pancetta drumstick chicken, tri-tip pork belly pork chop cow leberkas kevin sirloin andouille picanha fatback turducken spare ribs. Tenderloin pork doner, pancetta hamburger ham andouille pork loin. Corned beef ground round leberkas fatback andouille jowl pastrami swine frankfurter tenderloin kevin. Kevin fatback salami chuck burgdoggen cupim bresaola pig pork, bacon venison porchetta meatloaf. Frankfurter shankle pastrami turducken ribeye flank bacon sirloin picanha landjaeger porchetta salami.			
</div>
		</div>
	</div>
	</div>
    {% endblock %}
</html>
