{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div style="height: 200px" >
                {% if user.is_authenticated %}
            <h1>Welcome back {{ user }}</h1>
                    <!--<p>notifications go here</p>-->
            <strong>{{ boldmessage }}</strong><br/>
        {% else %}
            <h1> Please register/login! </h1>
        {% endif %}

    </div>
    <div style="background-color: #fbfbfc">
    <div class="container">
        <h1>OpenStay</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                Welcome to openstay, this is an open source hostshareing service.
                It was an idea brought about with the mass abouts of social marketplaces to pop up.
                
                The idea behind this is everyone listed on here is volunteering their 
                space and time in exchange for yours when they come visit you.
            
                Keeping in terms with the honor system. OpenStay is a listing service not a marketplace.
                This means that no money exchanges on OpenStay
               <br/>
               <div class="col-sm-6 col-md-6">
               <strong><h2>What open stay is:</h2></strong>
               <ul class="list-group">
                   <li class="list-group-item list-group-item-success">
                       A place to meet people and make friends world wide.
                   </li>
                   <li class="list-group-item list-group-item-success">
                       A way to see new places. 
                   </li>
                   <li class="list-group-item list-group-item-success">
                       A tool for meeting locals.
                   </li>
                   <li class="list-group-item list-group-item-success">
                       A way to score a free bed or a couch in exchange.
                   </li>
                   <li class="list-group-item list-group-item-success">
                       hella basic, opensources and driven by the community.
                   </li>
               </ul>
            </div>
           <div class="col-sm-6 col-md-6">
               <strong><h2>What open stay is not:</h2></strong>
               <ul class="list-group">
                   <li class="list-group-item list-group-item-danger">
                       A free ride.
                   </li>
                   <li class="list-group-item list-group-item-danger">
                       A paid service. 
                   </li>
                   <li class="list-group-item list-group-item-danger">
                       An airbnb service.
                   </li>
                   <li class="list-group-item list-group-item-danger">
                       A gurantee.
                   </li>
               </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}

