<!DOCTYPE html>

<html>
{% extends 'base.html' %}
{% include 'base.html' %}
{% block content %}
    {% load static %}
    <div>
     <h1>The Travelers Promise</h1>
    </div>
<div style="background-color: #fbfbfc">
    <div class="container-fluid">
        <h2>Dont be a dick</h2>
        <p>If you are having a hard time with this concept pelase see: <a href='https://en.wikipedia.org/wiki/Reasonable_person'>Reasonable Persons Standard</a></p>
        
        <h2>Respect the local culture</h2>
        <p>If you are having a hard time with this concept pelase see: <a href='https://en.wikipedia.org/wiki/Cultural_diversity'>Cultural Diversity</a></p>        
        
        <h2>Respect the social norm</h2>
        <p>If you are having a hard time with this concept pelase see: <a href='https://en.wikipedia.org/wiki/Norm_(social)'>Social Norms</a></p>
    </div>
</div>
{% endblock %}
</html>
