<footer>
    <br/>
    <div class="container-fluid">
    <div class="col-sm-3 col-md-3">
        <h4><a href="{% url 'travelers_promise' %}">The Traveler's Promise</a></h4>
        <h4><a href="{% url 'host' %}">Become a Host</a></h4>
        <h4><a href="{% url 'contact' %}">Contact Info</a></h4>
    </div>
    <div class="col-sm-3 col-md-3">
        <h4><a href="{% url 'code_of_conduct' %}">Code of Conduct</a></h4>
        <h4><a href="{% url 'tos' %}">Terms of Service</a></h4>
        <h4><a href="{% url 'privacy' %}">Privacy Policy</a></h4>
    </div>
    </div>
    <hr>
    <div class="container-fluid">
    <div class="col-sm-9 col-md-9">
        <p>
            FurryStay is a variant of OpenStay is a product of Saber Applications Inc.
            <br/>
            <a href="https://www.mozilla.org/en-US/MPL/2.0/">FurryStay is open source</a>
            under the
            <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a>
            in conjunction with Django Hackathon Starter under the
            <a href="https://github.com/DrkSephy/django-hackathon-starter#license">MIT Licence</a>
        </p>
    </div>
    </div>
</footer>
